@keyframes moveTopInf {
  0% {
    @include transform(translateY(0px));
    opacity: 1;
  }
  50% {
    @include transform(translateY(-20px));
    opacity: 1;
  }
  80% {
    @include transform(translateY(-20px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0));
    opacity: 0;
  }
}

@keyframes constantScale {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    -moz-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    -o-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    -ms-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    transform: scale(1) translate3d(0, 0, 0) perspective(1px);
  }
  50% {
    -webkit-transform: scale(1.1) translate3d(0, 0, 0) perspective(1px);
    -moz-transform: scale(1.1) translate3d(0, 0, 0) perspective(1px);
    -o-transform: scale(1.1) translate3d(0, 0, 0) perspective(1px);
    -ms-transform: scale(1.1) translate3d(0, 0, 0) perspective(1px);
    transform: scale(1.1) translate3d(0, 0, 0) perspective(1px);
    -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
      -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
      12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
      -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
      -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
      12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
      -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    -moz-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    -o-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    -ms-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
    transform: scale(1) translate3d(0, 0, 0) perspective(1px);
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    @include transform(translateY(0));
  }
  50% {
    opacity: 1;
    @include transform(translateY(15px));
  }
  100% {
    opacity: 0;
    @include transform(translateY(15px));
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    @include transform(translateX(-200px));
    color: $yellow-cl;
  }
  50% {
    opacity: 1;
    @include transform(translateX(200px));
    color: $red-cl;
  }
  100% {
    opacity: 1;
    @include transform(translateX(0));
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    @include transform(translateX(200px));
  }
  50% {
    opacity: 1;
    @include transform(translateX(-200px));
  }
  100% {
    opacity: 1;
    @include transform(translateX(0));
  }
}

@keyframes visibleText {
  0% {
    @include transform(scale(0));
  }
  50% {
    @include transform(scale(1.2));
  }
  50% {
    @include transform(scale(1) rotate(1deg));
  }
  60% {
    @include transform(scale(1) rotate(-1deg));
  }
  70% {
    @include transform(scale(1) rotate(0));
  }
  50% {
    @include transform(scale(1) rotate(1deg));
  }
  100% {
    @include transform(scale(1) rotate(0));
  }
}
